// --------------------------------------------
// BubalusFE - The front-end development framework
//
/* Layout - 一套基于百分比的响应式栅格布局系统及方法 */
// --------------------------------------------

// ----------------------
// Grid 变量
// ----------------------

// Container sizes
// --------------------------------------------------

// Small screen / tablet
$container-tablet:          728px !default;

// Medium screen / desktop
$container-desktop:         940px !default;

// Large screen / wide desktop
$container-large-desktop:   1170px !default;


// 设置栅格系统中 列 的数量
$grid-columns:              12 !default;
// 栅格间距值，即列与列之间的间距值
$grid-gutter-width:         20px !default;
// 栅格响应点
$grid-float-breakpoint:     $screen-tablet !default;



// ----------------------
// Grid 方法
// ----------------------

// 用于主容器设置居中并清除浮动
@mixin container-fixed() {
  margin-right: auto;
  margin-left: auto;
  @include clear();
}

// 用于为一组 列式栅格 创建一个水平容器,并清除列栅格的浮动
@mixin make-row() {
  @include clear();

  // @media (min-width: $screen-tablet) {
  //   margin-left:  ($grid-gutter-width / -2);
  //   margin-right: ($grid-gutter-width / -2);
  // }

  // // 嵌套的水平容器设置负值空白边，避免产生重复的栅格间距
  // .row {
  //   margin-left:  ($grid-gutter-width / -2);
  //   margin-right: ($grid-gutter-width / -2);
  // }
}

// 栅格公用样式
@mixin make-column($columns) {
  position: relative;
  min-height: 1px; // 防止没有内容时列塌陷而造成错位
  // 通过设置填充来产生列与列之间的间距，内容不会紧挨在一起
  padding-left:  ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);

  // 计算到达相应点后的列宽
  @media (min-width: $grid-float-breakpoint) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}


// 生成横移列
@mixin make-column-offset($columns) {
  @media (min-width: $grid-float-breakpoint) {
    margin-left: percentage(($columns / $grid-columns));
  }
}

// 用于栅格排序
@mixin make-column-push($columns) {
  @media (min-width: $grid-float-breakpoint) {
    left: percentage(($columns / $grid-columns));
  }
}
@mixin make-column-pull($columns) {
  @media (min-width: $grid-float-breakpoint) {
    right: percentage(($columns / $grid-columns));
  }
}




// ----------------------
// Grid 样式
// ----------------------

// 主布局容器
header, footer, nav, #main {
  position:relative;
}
.container {
  @include container-fixed();
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  position: relative;
  min-height: 1px; // 防止没有内容时列塌陷而造成错位
  // 通过设置填充来产生列与列之间的间距，内容不会紧挨在一起
  padding-left:  ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
}

// 为一组 列式栅格 创建一个行容器,并清除列栅格的浮动
.row {
  @include make-row();
}

// 小列和中等列
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  float: left;
}
@for $i from 1 through $grid-columns {
  .col-#{$i}  { width: percentage(($i / $grid-columns)); }
}

@media (min-width: $screen-tablet) {
  .container {
    max-width: $container-tablet;
  }
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }


  @for $i from 1 through $grid-columns {
    .col-sm-#{$i}  { width: percentage(($i / $grid-columns)); }
  }

}


// 响应设置: 针对桌面分辨率
@media (min-width: $screen-desktop) {
  .container {
    max-width: $container-desktop;
  }
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
  @for $i from 1 through $grid-columns {
    .col-lg-#{$i}  { width: percentage(($i / $grid-columns)); }
  }
  
}

// 响应设置: 针对宽屏桌面分辨率
@media (min-width: $screen-large-desktop) {
  .container {
    max-width: $container-large-desktop;
  }
}


// 平衡柵格高度
.equalize { overflow:hidden; }

.equalize > [class*="col"] {
    padding-bottom:32767px;
    margin-bottom:-32767px;
}

/* END Layout */