// --------------------------------------------
// BubalusFE - The front-end development framework
//
/* Navs -  */
// --------------------------------------------

@mixin nav-justified {
  width: 100%;

  > li {
    float: none;
     > a {
      text-align: center;
      margin-bottom: 5px;
    }
  }

  @media (min-width: $screen-table) {
    > li {
      display: table-cell;
      width: 1%;
      > a {
        margin-bottom: 0;
      }
    }
  }
}

@mixin nav-justified-ie {
  width: 100%;
  li {
    float: none;
    display: table-cell;
    width: 1%;
    a {
      text-align: center;
      margin-bottom: 0;
    }
  }
}

@mixin nav-tabs-justified () {
  border-bottom: 0;

  > li > a {
    margin-right: 0;
    border-radius: $border-radius-base;
  }

  > .active > a,
  > .active > a:hover,
  > .active > a:focus {
    border: 1px solid $nav-tabs-justified-link-border-color;
  }

  @media (min-width: $screen-table) {
    > li > a {
      border-bottom: 1px solid $nav-tabs-justified-link-border-color;
      border-radius: $border-radius-base $border-radius-base 0 0;
    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      border-bottom-color: $nav-tabs-justified-active-link-border-color;
    }
  }
}
@mixin nav-tabs-justified-ie () {
  border-bottom: 0;

  li a {
    margin-right: 0;
    border-bottom: 1px solid $nav-tabs-justified-link-border-color;
    border-radius: $border-radius-base $border-radius-base 0 0;
  }

  .active a,
  .active a:hover,
  .active a:focus {
    border: 1px solid $nav-tabs-justified-link-border-color;
    border-bottom-color: $nav-tabs-justified-active-link-border-color;
  }
}

@mixin navbar-vertical-align($element-height) {
  margin-top: (($navbar-height - $element-height) / 2);
  margin-bottom: (($navbar-height - $element-height) / 2);
}
