@charset "UTF-8";
/* Config - 样式表配置文件 */
/* Variables - 全局變量 */
/* END Variables */
/* Mixins - 全局方法 */
/* END Mixins */
/* END Config */
body {
  position: relative; }

.docs-nav {
  width: 60%;
  margin: 0 auto; }

.docs-nav .navbar-brand {
  color: #fff; }

.docs-nav .navbar-nav > li > a {
  color: #e6cac8; }

.docs-nav .navbar-nav > li > a:hover {
  color: #fff; }

.docs-nav .navbar-nav > .active > a,
.docs-nav .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: #993c3a; }

.docs-nav .navbar-toggle {
  border-color: #b94a48; }

.docs-nav .navbar-toggle:hover {
  background-color: #993c3a;
  border-color: #993c3a; }

/* Homepage masthead
-------------------------------------------------- */
.masthead {
  position: relative;
  padding: 80px 15px 30px 15px;
  text-align: center; }

.masthead h1 {
  font-size: 120px;
  line-height: 1.2; }

.masthead .social {
  margin-top: 80px; }

/* Download button */
.masthead .btn {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 18px 24px;
  font-size: 21px;
  color: #b94a48;
  /* redeclare to override the `.jumbotron a` */
  background-color: #fff;
  border-color: #e5e5e5; }

.masthead .btn:hover,
.masthead .btn:active {
  color: #fff;
  /* redeclare to override the `.jumbotron a` */
  background-color: #b94a48;
  border-color: #b94a48; }

/* Textual links */
.masthead-links {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 0;
  list-style: none; }

.masthead-links li {
  display: inline;
  color: #999; }

.masthead-links li + li {
  margin-left: 20px; }

/* Base class */
.example-box {
  position: relative;
  padding: 39px 14px 14px;
  margin-bottom: -1px;
  border: 1px solid #ddd;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

/* Echo out a label for the example */
.example-box:after {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #9da0a4;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px; }

/* Tweak display of the examples */
.example-box + .prettyprint,
.example-box + .highlight {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

/* Tweak content of examples for optimum awesome */
.example-box > p:last-child,
.example-box > ul:last-child,
.example-box > ol:last-child,
.example-box > blockquote:last-child,
.example-box > input:last-child,
.example-box > select:last-child,
.example-box > textarea:last-child,
.example-box > .table:last-child,
.example-box > .navbar:last-child
.example-box > .jumbotron:last-child,
.example-box > .alert:last-child,
.example-box > .panel:last-child,
.example-box > .list-group:last-child,
.example-box > .well:last-child {
  margin-bottom: 0; }

.example-box > .close {
  float: none; }

.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px; }

.highlight pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
  white-space: nowrap; }

.highlight pre code {
  font-size: inherit;
  color: #333;
  /* Effectively the base text color */ }

.highlight pre .lineno {
  display: inline-block;
  width: 22px;
  padding-right: 5px;
  margin-right: 10px;
  text-align: right;
  color: #bebec5; }

/* Utility classes table
------------------------- */
.bs-table th small,
.responsive-utilities th small {
  display: block;
  font-weight: normal;
  color: #999; }

.responsive-utilities tbody th {
  font-weight: normal; }

.responsive-utilities td {
  text-align: center; }

.responsive-utilities td.is-visible {
  color: #468847;
  background-color: #dff0d8 !important; }

.responsive-utilities td.is-hidden {
  color: #ccc;
  background-color: #f9f9f9 !important; }

/* Responsive tests
------------------------- */
.responsive-utilities-test {
  margin-top: 5px;
  margin-left: 0;
  list-style: none;
  overflow: hidden;
  /* clear floats */ }

.responsive-utilities-test li {
  position: relative;
  float: left;
  width: 25%; }

.responsive-utilities-test li + li {
  margin-left: 10px; }

.responsive-utilities-test span {
  padding: 15px 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  border-radius: 4px; }

.responsive-utilities-test.visible-on [class*="hidden"],
.responsive-utilities-test.hidden-on [class*="visible"] {
  color: #999;
  border: 1px solid #ddd; }

.responsive-utilities-test.visible-on [class*="visible"],
.responsive-utilities-test.hidden-on [class*="hidden"] {
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6; }

#layout .header, #layout .footer, #layout .nav, #layout .main {
  padding: 10px; }
#layout .container {
  padding: 5px; }
#layout .screen-2 .row {
  margin: 0; }
#layout .dummyscreen {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  border: 1px #888 solid;
  border-radius: 4px;
  line-height: 1.42857;
  text-align: center;
  zoom: 1; }
  #layout .dummyscreen .container {
    width: 70%;
    margin: 0 auto;
    border: 1px dashed rgba(0, 0, 0, 0.25); }
  #layout .dummyscreen .header, #layout .dummyscreen .footer {
    background: #ccc;
    color: #fff; }
  #layout .dummyscreen .nav {
    background: #bbb;
    color: #fff; }
  #layout .dummyscreen .main {
    background: #ddd;
    color: #fff;
    line-height: 2em; }
    #layout .dummyscreen .main section {
      color: #888;
      background: #eee; }
      #layout .dummyscreen .main section .g-box {
        background: #ddd; }

#grid .row {
  margin: 0 15px 20px 15px; }
  #grid .row .row {
    margin-right: -15px;
    margin-left: -15px; }
#grid [class*="col-lg-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(185, 74, 72, 0.15);
  border: 1px solid rgba(185, 74, 72, 0.2); }
