// --------------------------------------------
// BubalusFE - The front-end development framework
//
/* Badge - 變量 */
// --------------------------------------------

$badge-default-bg:            $gray-light !default;
$badge-primary-bg:            $brand-primary !default;
$badge-success-bg:            $brand-success !default;
$badge-info-bg:               $brand-info !default;
$badge-warning-bg:            $brand-warning !default;
$badge-danger-bg:             $brand-danger !default;
$badge-color:                 #fff !default;
$badge-link-hover-color:      #fff !default;

$badge-bg:                    $gray-light !default;
$badge-active-color:          $link-color !default;
$badge-active-bg:             #fff !default;

$badge-font-weight:           bold !default;
$badge-line-height:           1 !default;
$badge-border-radius:         .25em !default;