// --------------------------------------------
// BubalusFE - The front-end development framework
//
/* Accordion - 手風琴樣式 */
// --------------------------------------------
// Accordion
// -------------------------
$accordion-border-color:      #e5e5e5 !default;


// Badges
// -------------------------
$badge-color:                 #fff !default;
$badge-link-hover-color:      #fff !default;

$badge-bg:                    #f5f5f5 !default;
$badge-active-color:          $link-color !default;
$badge-active-bg:             #fff !default;


// 父容器
.accordion {
  margin-bottom: $line-height-computed;
}

// Group == heading + body
.accordion-group {
  margin-bottom: 2px;
  border: 1px solid $accordion-border-color;
  border-radius: $border-radius-base;
}
.accordion-heading {
  border-bottom: 0;

  .accordion-toggle {
    display: block;
    padding: 8px 15px;
    cursor: pointer;
  }
}

// 内層樣式
.accordion-inner {
  padding: 9px 15px;
  border-top: 1px solid $accordion-border-color;
}
