// --------------------------------------------
// BubalusFE - The front-end development framework
//
/* CloseBtn - 関閉按鈕 */
// --------------------------------------------

// Close
// ------------------------
$close-color:                 #000 !default;
$close-font-weight:           bold !default;
$close-text-shadow:           0 1px 0 #fff !default;

.close-btn {
  float: right;
  font-size: ($font-size-base * 1.5);
  font-weight: $close-font-weight;
  line-height: 1;
  color: $close-color;
  text-shadow: $close-text-shadow;
  @include opacity(.2);

  &:hover,
  &:focus {
    color: $close-color;
    text-decoration: none;
    cursor: pointer;
    @include opacity(.5);
  }
}

button.close-btn {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
