// --------------------------------------------
// BubalusFE - The front-end development framework
//
// IE Hack - 重設 IE 6/7 樣式
// --------------------------------------------
@charset "utf-8";

@media all {

// 讓IE的滾動條保持可見，防止頁面在切換時寬度抖動
// ----------------------
	body { o\verflow:visible; }

// 避免水平滚动条
	html { margin-right:1px; }
	* html { margin-right:0; }

// 調整HTML5標籤在IE中的表現
	article,aside,details,figcaption,figure,
	footer,header,hgroup,nav,section {
		zoom:1;
	}
	audio,canvas,video {
		*display: inline;
		*zoom: 1;
	}

// 圖像縮放的優化
	img {
		-ms-interpolation-mode: bicubic;
		zoom: 1;
	}
	* html .flexible {
		zoom: 1;
		width: 98%;
	}

// 修正 overflow 的表現
	* html iframe,
	* html frame { overflow:auto; }
	* html input,
	* html frameset { overflow:hidden; }
	* html textarea { overflow:scroll; overflow-x:hidden; }

// 消除 zoom 属性对佈局造成的影響
	body, #main { position:relative; }
	* html body { position:static; }

// 为IE调整清除浮动的方法
	.clear { zoom:1; }


// 预先触发布局元素的 haslayout 可以预防一些BUG出现
	body, .g-box { height:1%; }
	.container, .c-box, #header, #nav, #main, #footer { zoom:1; }
	* html .container, * html .c-box { height:1%; hei\ght:auto; }
	* html #header, * html #nav, * html #main, * html #footer { width:100%; wid\th:auto; }

// 防止在浮动容器中使用列表时,可能造成背景消失
	* html ul, * html ol, * html dl { position:relative; }

// 列表项的 haslayout 属性被激活时会发生这个BUG
	body ol li { display:list-item; }

// 一些表單相關的修正
	button, input { *overflow: visible !important; }
	table button, table input { *overflow: auto; }
	fieldset, legend { position:relative; }

// 調整流体柵格寬度值，避免錯位，因为IE 6/7 在计算百分比时比较奇葩
	.g-20 { width:19.98%; }
	.g-25 { width:24.97%; }
	.g-30 { width:29.98%; }
	.g-33 { width:33.29%; }
	.g-38 { width:38.2%; }
	.g-40 { width:40%; }
	.g-50 { width:49.98%; }
	.g-60 { width:60%; }
	.g-62 { width:61.8%; }
	.g-66 { width:66.666%; }
	.g-70 { width:70%; }
	.g-75 { width:75%; }
	.g-80 { width:80%; }

// 表單模塊的相關修正
	.form,
	.form div,
	.form div * { zoom:1; }
	.form {
		/* 默認寬度 */
		input,
		textarea {
			width:63.5%;
			padding-left: 1% !important;
			padding-right: 1% !important;
		}
		select {
			width:66%;
			padding-left: 1% !important;
			padding-right: 1% !important;
		}

		.fbox-grid {
			display: block;
			overflow: hidden;
			margin-right: -5px;

			// input,
			// textarea,
			// select {
			// 	width: 96%;
			// }
			// .input-prepend {
			// 	input { width:63.5%; }
			// }
		}
		.fbox-check {
			input {
				width: auto;
			}
		}

		/* 調整表單內柵格寬度值，避免錯位 */
		.g-20 { width:17% !important; }
		.g-25 { width:22% !important; }
		.g-30 { width:27% !important; }
		.g-33 { width:30.333% !important; }
		.g-38 { width:35% !important; }
		.g-40 { width:37% !important; }
		.g-50 { width:47% !important; }
		.g-60 { width:57% !important; }
		.g-62 { width:58% !important; }
		.g-66 { width:63.666% !important; }
		.g-70 { width:67% !important; }
		.g-75 { width:72% !important; }
		.g-80 { width:77% !important; }

		.fbox-text,
		.fbox-select {
			input, textarea, select {
				&.g-20 { display:inline; width:15% !important; }
				&.g-25 { display:inline; width:20% !important; }
				&.g-30 { display:inline; width:25% !important;}
				&.g-33 { display:inline; width:28.333% !important; }
				&.g-38 { display:inline; width:33.2% !important; }
				&.g-40 { display:inline; width:35% !important; }
				&.g-50 { display:inline; width:45% !important; }
				&.g-60 { display:inline; width:55% !important; }
				&.g-62 { display:inline; width:56.8% !important; }
				&.g-66 { display:inline; width:61.666% !important; }
				&.g-70 { display:inline; width:65% !important;}
				&.g-75 { display:inline; width:70% !important; }
				&.g-80 { display:inline; width:75% !important; }
			}
		}
	}
	.form-style-gray {
		.fbox-text{
			input { height: $lineHeight; }
		}
	}

	.full {
		input,
		textarea {
			width:92.5%;
			margin-right: -3px;
		}

		select {
			width:95%;
			margin-right: -3px;
		}
	}

	.input-append,
	.input-prepend {
		.add-on {
			height: $lineHeight;
		}
		input {
			margin-top: -1px;
		}
	}
	.input-prepend {
		.add-on {
			margin-right: -2px;
		}
	}
	.input-append {
		.add-on {
			margin-left: -2px;
		}
	}

	/* 避免IE7中空白邊異常 */
	.columnar-form {
		.fbox-grid {
			float: right;
			margin-left: -3px !important;
			margin-right: 0 !important;
		}
	}

	/* 輔助類 */
	* html .form {
		.ie-checkbox,
		.ie-radio {
			display: inline !important;
			width: auto !important;
			background: transparent !important;
			border: 0 none  !important;
			padding: 0 !important;
		}
	}

	html .ie-clearing {
		position:static;
		display:block;
		\clear:both;
		width:100%;
		line-height: 0;
		font-size:0px;
		margin:-2px 0 -1em 1px;
	}
	* html .ie-clearing { margin:-2px 0 -1em 0; }
}

@media screen, projection {
	.grid,.fluid-grid { overflow:hidden; display:block; }
	* html .grid,
	* html .fluid-grid { overflow:visible; }

	.equalize .fl-le {
		padding-bottom:32767px;
		margin-bottom:-32767px;
	}

	.equalize .fl-ri {
		padding-bottom:32767px;
		margin-bottom:-32767px;
	}

	.no-ie-padding .fl-le,
	.no-ie-padding .fl-ri {
		padding-bottom:0;
		margin-bottom:0;
	}

	* html .g-box { word-wrap:break-word; o\verflow:hidden; }


}
