$docs-border-color:#38596b;
$docs-font-color-green:#82be51;
$docs-font-color-blue:#76a4bd;
$docs-well-back:#101e26;

body {
  position: relative;
  background-color: #172b36;
}
.container {

}
header {
  @include clear;
  border-top:5px solid #172b36;
  background-image: url('#{$images-path}/head_back.png');

  .jumbotron{
    color: #172b36;
    background-color: transparent;
    background-image: none;
    border:none;
  }
}
#logo {
  float: left;
  margin: 10px 60px; 
  text-align: center;
}

@media (max-width: $screen-large-desktop) {
  #logo {
    float: none;
    margin: 10px;
   // max-width: inherit;
  }
}

.docs-nav {
  @include clear;
  border-bottom:1px solid $docs-border-color;
  background-image: url('#{$images-path}/nav_back.png');
  background-repeat: repeat-x;
  margin: 0 auto;
  padding-left:40px;

  .navbar-nav > li {
    border-top:7px solid transparent;

    > a {
      line-height: 43px;
      padding:0 40px;
      color: #76a4bd;

      &:hover,
      &:focus {
        color: #fff;
        background-color: transparent;
      }
    }
    &.active{
      border-top:7px solid #5b912f;
    }
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: #fff;
        background-color: #112028;
      }
    }
  }
}

@media (max-width: $screen-table) {
  .docs-nav {
    padding:0;

    .navbar-nav > li,
    .navbar-nav > li.active {
      border-top:none;
    }
  }
}

#main {
  padding:20px;
  color: #76a4bd;
}
.docs-page-header {
  color: #82be51;
  border-bottom:1px solid $docs-border-color;
  margin-bottom: 0;
  small {
    color: #76a4bd;
  }
  p{
    color: $gray-light;
  }
}
.docs-row {
  border-bottom:1px solid $docs-border-color;
  .col-box {
    padding:20px 0;
  }
  .docs-side {
    border-right:1px solid $docs-border-color;
    h3 {
      margin-bottom: 10px;
      color: #82be51;
    }
    ul{
      margin:20px;
      li{
        margin: 10px 0;
        color: $gray-light;
        strong {
          color: #76a4bd;
          text-decoration: underline;
        }
      }
    }
  }

  .docs-article {
    padding-left:15px;
    pre {
      color: $gray-light;
      margin: 10px 0;
      background-color:#101e26;
      border: 1px solid rgba(0,0,0,0.15);
    }
  }
}
@media (max-width: $screen-desktop){
  .row .docs-side {
    border:none;
    .col-box{
      padding-bottom:10px;
    }
  }
  .row .docs-article {
    .col-box{
      padding-top:10px;
    }
  }
}
code {
  color: #ff6600;
  background-color:#101e26;
}





#layout {
	.header, .footer, .nav, .main {
		padding: 10px;
	}
	.container{
		padding: 5px;
	}
  .screen-2 {
    .row {
      margin: 0;
    }
  }
	.dummyscreen {
      margin: 10px;
      padding: 10px;
      background-color: $docs-well-back;
      border: 1px solid rgba(0,0,0,0.15);
      border-radius: $border-radius-base;
	    line-height: $line-height-base;
	    text-align: center;
	    zoom: 1;

		.container {
			width: 70%;
			margin: 0 auto;
			border: 1px dashed $docs-border-color;
		}
		.header, .footer {
			background: #76a4bd;
			color: #fff;
		}
		.nav {
			background: #5d91ae;
			color: #fff;
		}
		.main {
			background: #93b6ca;
			color: #fff;
			line-height: 2em;
			//line-height: 8em;
      .row {
        border:none;
      }
			section{
				color: #3a6075;
				background:#b0cddc;
				
			}
		}
	}
}

#grid {
  .docs-article{
    .demo-row {
      margin:5px 0; 
      border:none;
      
      [class*="col-"] {
        line-height: 2;
        background-color: rgba(147,182,202,.15);
        border: 1px solid rgba(147,182,202,.2);
      }
    }
  }
}

/* Responsive tests
------------------------- */
.responsive-utilities-test {
  margin-bottom: 15px;
  margin-left: 0;
  list-style: none;
  overflow: hidden; /* clear floats */
  border: 1px solid $docs-border-color;
  border-radius: 4px;
}
.responsive-utilities-test li {
  position: relative;
  float: left;
  width: 33%;
}
.responsive-utilities-test span {
  padding: 15px 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
}
.responsive-utilities-test [class*="hidden"] {
  color: $docs-font-color-blue * 0.6;
  text-decoration: line-through;
}
.responsive-utilities-test [class*="visible"] {
  color: $docs-font-color-blue;
  background-color: rgba(147,182,202,.15);
}

#dropdown {
  .dropdown-demo {
    .dropdown-menu {
      position: static;
      display: block;
      margin-bottom: 5px;
    }
  }
}

#forms {
  .form-inline {
    .inline-input-text { width:150px; }
  }
}

#images{
  .img-rounded,
  .img-circle {
    background-color: #172b36;
    border: 1px solid $docs-border-color;
  }
}

#tables {
  .table-bordered {
    border: 1px solid $docs-border-color;
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          border: 1px solid $docs-border-color;
        }
      }
    }
  }
  .table-striped {
    > tbody {
      > tr:nth-child(odd) {
        > td,
        > th {
          background-color: #243e4d;
        }
      }
    }
  }
  .table-hover {
    > tbody {
      > tr:hover {
        > td,
        > th {
          background-color: #2b4858;
        }
      }
    }
  }
}
#alertTip-BR,
#alertTip-BL {
  position: fixed;
  bottom: 0;
}
#alertTip-BR{right: 0;}
#alertTip-BL{left:0;}