// --------------------------------------------
// BubalusFE - The front-end development framework
//
/* alertTipTip - 弹出通知 */
// --------------------------------------------

// -------------------------
// alertTipTip 變量
// -------------------------
$alertTip-bg:                    $state-warning-bg !default;
$alertTip-text:                  $state-warning-text !default;
$alertTip-border:                $state-warning-border !default;
$alertTip-border-radius:         $border-radius-base !default;

$alertTip-success-bg:            $state-success-bg !default;
$alertTip-success-text:          $state-success-text !default;
$alertTip-success-border:        $state-success-border !default;

$alertTip-danger-bg:             $state-danger-bg !default;
$alertTip-danger-text:           $state-danger-text !default;
$alertTip-danger-border:         $state-danger-border !default;

$alertTip-info-bg:               $state-info-bg !default;
$alertTip-info-text:             $state-info-text !default;
$alertTip-info-border:           $state-info-border !default;


@mixin alertTip-variant($background, $border, $text-color) {
  background-color: $background;
  border-color: $border;
  color: $text-color;
  hr {
    border-top-color: darken($border, 5%);
  }
  .alertTip-link {
    color: darken($text-color, 10%);
  }
}

// 基本樣式
// -------------------------

.alertTip {
  padding:10px 15px;
  margin: 5px 0;
  color: $alertTip-text;
  background-color: $alertTip-bg;
  border: 1px solid $alertTip-border;
  border-radius: $alertTip-border-radius;

  // Headings for larger alertTips
  h4 {
    margin-top: 0;
    // Specified for the h4 to prevent conflicts of changing @headingsColor
    color: inherit;
  }
  // Match the hr to the border of the alertTip
  hr {
    border-top-color: darken($alertTip-border, 5%);
  }
  // Provide class for links that match alertTips
  .alertTip-link {
    font-weight: 500;
    color: darken($alertTip-text, 10%);
  }

  // Adjust close link position
  .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
  }
}

// Alternate styles
// -------------------------

.alertTip-success {
  @include alertTip-variant($alertTip-success-bg, $alertTip-success-border, $alertTip-success-text);
}
.alertTip-danger {
  @include alertTip-variant($alertTip-danger-bg, $alertTip-danger-border, $alertTip-danger-text);
}
.alertTip-info {
  @include alertTip-variant($alertTip-info-bg, $alertTip-info-border, $alertTip-info-text);
}

// Block alertTips
// -------------------------

.alertTip-block {
  > p,
  > ul {
    margin-bottom: 0;
  }
  p + p {
    margin-top: 5px;
  }
}
