// --------------------------------------------
// BubalusFE - The front-end development framework
//
/* alertTip - 方法 */
// --------------------------------------------

@mixin alertTip-variant($background, $border, $text-color) {
  background-color: $background;
  border-color: $border;
  color: $text-color;
  hr {
    border-top-color: darken($border, 5%);
  }
  .alertTip-link {
    color: darken($text-color, 10%);
  }
}