// --------------------------------------------
// BubalusFE - The front-end development framework
//
/* alertTipTip - 弹出通知 */
// --------------------------------------------

// -------------------------
// 引入配置
// -------------------------
@import "variables";
@import "mixins";

// 基本樣式
// -------------------------
.alertTip-area {
  position: fixed;
}

.alertTip {
  padding: $alertTip-padding;
  margin-bottom: $line-height-computed;
  border: 1px solid transparent;
  border-radius: $alertTip-border-radius;

  // Headings for larger alertTips
  h4 {
    margin-top: 0;
    // Specified for the h4 to prevent conflicts of changing @headingsColor
    color: inherit;
  }

  // Provide class for links that match alertTips
  .alertTip-link {
    font-weight: $alertTip-link-font-weight;
  }

  // Improve alignment and spacing of inner content
  > p,
  > ul {
    margin-bottom: 0;
  }
  > p + p {
    margin-top: 5px;
  }
}

// Dismissable alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissable {
 padding-right: ($alertTip-padding + 20);

  // Adjust close link position
  .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
  }
}

.alertTip-closer {
  padding: $alertTip-padding;
  margin-bottom: $line-height-computed;
  color: #fff;
  background-color: #000;
  border-radius: $alertTip-border-radius;
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.alertTip-success {
  @include alertTip-variant($alertTip-success-bg, $alertTip-success-border, $alertTip-success-text);
  .close-btn {
    color: $alertTip-success-text;
  }
}
.alertTip-info {
  @include alertTip-variant($alertTip-info-bg, $alertTip-info-border, $alertTip-info-text);
    color: $alertTip-info-text;
}
.alertTip-warning {
  @include alertTip-variant($alertTip-warning-bg, $alertTip-warning-border, $alertTip-warning-text);
    color: $alertTip-warning-text;
}
.alertTip-danger {
  @include alertTip-variant($alertTip-danger-bg, $alertTip-danger-border, $alertTip-danger-text);
  .close-btn {
    color: $alertTip-danger-text;
  }
}

.alertTip-area.top-left {
  left:         0px;
  top:        0px;
}

.alertTip-area.top-right {
  right:        0px;
  top:        0px;
}

.alertTip-area.bottom-left {
  left:         0px;
  bottom:       0px;
}

.alertTip-area.bottom-right {
  right:        0px;
  bottom:       0px;
}

.alertTip-area.center {
  top:        0px;
  width:        50%;
  left:         25%;
}

/** Cross Browser Styling **/
.center .alertTip, .center .alertTip-closer {
  margin-left:    auto;
  margin-right:     auto;
}

.alertTip-area .alertTip, .alertTip-area .alertTip-closer {
  //@include opacity(.9);
  zoom:           1;
  width:          300px;
  padding:        10px;
  margin:       5px 10px;
  display:        none;
  border-radius: $alertTip-border-radius;
}

.alertTip-area .alertTip {
  min-height:       40px;
}

.alertTip-area .alertTip-closer {
  padding-top:      4px;
  padding-bottom:     4px;
  cursor:         pointer;
  font-size:        .9em;
  font-weight:      bold;
  text-align:       center;
}

/** Hide jGrowl when printing **/
@media print {
  .alertTip-area {
    display:      none;
  }
}

// -------------------------
// 引入主題樣式
// -------------------------

@import "theme";

/* END alertTip */