// --------------------------------------------
// BubalusFE - The front-end development framework
//
/* alertTipTip - 弹出通知 */
// --------------------------------------------

// -------------------------
// alertTipTip 變量
// -------------------------
$alertTip-padding:               15px !default;
$alertTip-border-radius:         $border-radius-base !default;
$alertTip-link-font-weight:      bold !default;

$alertTip-bg:                    $state-warning-bg !default;
$alertTip-text:                  $state-warning-text !default;
$alertTip-border:                $state-warning-border !default;

$alertTip-success-bg:            $state-success-bg !default;
$alertTip-success-text:          $state-success-text !default;
$alertTip-success-border:        $state-success-border !default;

$alertTip-danger-bg:             $state-danger-bg !default;
$alertTip-danger-text:           $state-danger-text !default;
$alertTip-danger-border:         $state-danger-border !default;

$alertTip-info-bg:               $state-info-bg !default;
$alertTip-info-text:             $state-info-text !default;
$alertTip-info-border:           $state-info-border !default;


@mixin alertTip-variant($background, $border, $text-color) {
  background-color: $background;
  border-color: $border;
  color: $text-color;
  hr {
    border-top-color: darken($border, 5%);
  }
  .alertTip-link {
    color: darken($text-color, 10%);
  }
}

// 基本樣式
// -------------------------
.alertTip-area {
  position: fixed;
}

.alertTip {
  padding: $alertTip-padding;
  margin-bottom: $line-height-computed;
  border: 1px solid transparent;
  border-radius: $alertTip-border-radius;

  // Headings for larger alertTips
  h4 {
    margin-top: 0;
    // Specified for the h4 to prevent conflicts of changing @headingsColor
    color: inherit;
  }

  // Provide class for links that match alertTips
  .alertTip-link {
    font-weight: $alertTip-link-font-weight;
  }

  // Improve alignment and spacing of inner content
  > p,
  > ul {
    margin-bottom: 0;
  }
  > p + p {
    margin-top: 5px;
  }
}

// Dismissable alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissable {
 padding-right: ($alert-padding + 20);

  // Adjust close link position
  .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
  }
}

.alertTip-closer {
  padding: $alertTip-padding;
  margin-bottom: $line-height-computed;
  color: $alertTip-text;
  background-color: $alertTip-bg;
  border: 1px solid $alertTip-border;
  border-radius: $alertTip-border-radius;
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.alertTip-success {
  @include alertTip-variant($alertTip-success-bg, $alertTip-success-border, $alertTip-success-text);
  .close-btn {
    color: $alertTip-success-text;
  }
}
.alert-info {
  @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
    color: $alertTip-info-text;
}
.alert-warning {
  @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
    color: $alertTip-warning-text;
}
.alertTip-danger {
  @include alertTip-variant($alertTip-danger-bg, $alertTip-danger-border, $alertTip-danger-text);
  .close-btn {
    color: $alertTip-danger-text;
  }
}

.alertTip-area.top-left {
  left:         0px;
  top:        0px;
}

.alertTip-area.top-right {
  right:        0px;
  top:        0px;
}

.alertTip-area.bottom-left {
  left:         0px;
  bottom:       0px;
}

.alertTip-area.bottom-right {
  right:        0px;
  bottom:       0px;
}

.alertTip-area.center {
  top:        0px;
  width:        50%;
  left:         25%;
}

/** Cross Browser Styling **/
.center .alertTip, .center .alertTip-closer {
  margin-left:    auto;
  margin-right:     auto;
}

.alertTip-area .alertTip, .alertTip-area .alertTip-closer {
  //@include opacity(.9);
  zoom:           1;
  width:          300px;
  padding:        10px;
  margin:       5px 10px;
  display:        none;
  border-radius: $alertTip-border-radius;
}

.alertTip-area .alertTip {
  min-height:       40px;
}

.alertTip-area .alertTip-closer {
  padding-top:      4px;
  padding-bottom:     4px;
  cursor:         pointer;
  font-size:        .9em;
  font-weight:      bold;
  text-align:       center;
}

/** Hide jGrowl when printing **/
@media print {
  .alertTip-area {
    display:      none;
  }
}