// --------------------------------------------
// BubalusFE - The front-end development framework
//
/* Config - 样式表配置文件 */
// 在此對 BubalusLayout 進行設置
// --------------------------------------------

// 全局設置
// ----------------------
// 是否對IE6-7提供（有限的）支持
$ie6-7-support: 		true !default;
// 是否對IE6-8提供CSS3濾鏡兼容
$ie6-8-filter:          true !default; 
// 是否啓用打印樣式
$print-support:         true !default;
// 是否开启响应式样式
$responsive: 			true !default;

// Reset 設置
// ----------------------
// 只开启基本重置
$only-base-reset: 		false !default;

// Layout 設置
// ----------------------
// 是否提供響應式布局
$responsive-support: 	true !default;

// 排版設置
// ----------------------
// 基礎字號，將以此推演出其他屬性尺寸
$font-size-base:        14px !default;
// 標題是否具備外邊距（ <h1> - <h6> ）
$Hx-margin: 			true !default;

// 路徑指向
$images-path:           "project/images" !default;
$icon-font-path:        "modules/bubaluslayout/images" !default;

// 引入全局變量和方法
// ----------------------
@import "variables";
@import "mixins";

/* END Config */