// -------------------------
// 引入配置
// -------------------------
@import "variables";
@import "mixins";

// 讓IE的滾動條保持可見，防止頁面在切換時寬度抖動
// ----------------------
body { o\verflow:visible; }

// 避免水平滚动条
html { margin-right:0; }

// 調整HTML5標籤在IE中的表現
article,aside,details,figcaption,figure,
footer,header,hgroup,nav,section {
	zoom:1;
}
audio,canvas,video {
	display: inline;
	zoom: 1;
}

// 圖像縮放的優化
.flexible {
	zoom: 1;
	width: 98%;
}

// 修正 overflow 的表現
iframe,
frame { overflow:auto; }
input,
frameset { overflow:hidden; }
textarea { overflow:scroll; overflow-x:hidden; }

// 消除 zoom 属性对佈局造成的影響
body, #main { position:relative; }
body { position:static; }

// 为IE调整清除浮动的方法
.clear { zoom:1; }


// 预先触发布局元素的 haslayout 可以预防一些BUG出现
body, .col-box { height:1%; }
.container, .col-box, header, nav, #main, footer { zoom:1; }
.container, .col-box { height:1%; hei\ght:auto; }
header, nav, #main, footer { width:100%; wid\th:auto; }

// 防止在浮动容器中使用列表时,可能造成背景消失
ul, ol, dl { position:relative; }

// 列表项的 haslayout 属性被激活时会发生这个BUG
ol li { display:list-item; }

// 一些表單相關的修正
button, input { *overflow: visible !important; }
table button, table input { *overflow: auto; }
fieldset, legend { position:relative; }

// 調整流体柵格寬度值，避免錯位，因为IE 6/7 在计算百分比时比较奇葩
// TODO

// 表單模塊的相關修正
// TODO

.equalize {
	.col-1,
	.col-2,
	.col-3,
	.col-4,
	.col-5,
	.col-6,
	.col-7,
	.col-8,
	.col-9,
	.col-10,
	.col-11,
	.col-table-1,
	.col-table-2,
	.col-table-3,
	.col-table-4,
	.col-table-5,
	.col-table-6,
	.col-table-7,
	.col-table-8,
	.col-table-9,
	.col-table-10,
	.col-table-11,
	.col-desktop-1,
	.col-desktop-2,
	.col-desktop-3,
	.col-desktop-4,
	.col-desktop-5,
	.col-desktop-6,
	.col-desktop-7,
	.col-desktop-8,
	.col-desktop-9,
	.col-desktop-10,
	.col-desktop-11,
	.col-notebook-1,
	.col-notebook-2,
	.col-notebook-3,
	.col-notebook-4,
	.col-notebook-5,
	.col-notebook-6,
	.col-notebook-7,
	.col-notebook-8,
	.col-notebook-9,
	.col-notebook-10,
	.col-notebook-11 {
	    padding-bottom:32767px;
	    margin-bottom:-32767px;
	}
}

.col-desktop-1 { width: 8.3% !important; }
.col-desktop-2 { width: 16.6% !important; }
.col-desktop-3 { width: 25% !important; }
.col-desktop-4 { width: 33.3% !important; }
.col-desktop-5 { width: 41.6% !important; }
.col-desktop-6 { width: 50% !important; }
.col-desktop-7 { width: 58.3% !important; }
.col-desktop-8 { width: 66.6% !important; }
.col-desktop-9 { width: 75% !important; }
.col-desktop-10 { width: 83.3% !important; }
.col-desktop-11 { width: 91.6% !important; }

.col-box { word-wrap:break-word; o\verflow:hidden; }
