// --------------------------------------------
// BubalusFE - The front-end development framework
//
/* Responsives - 響應 */
// --------------------------------------------

//
// Responsive: Utility classes
// --------------------------------------------------


// IE10 Metro responsive
// Required for Windows 8 Metro split-screen snapping with IE10
//
// Source: http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@-ms-viewport{
  width: device-width;
}

// IE10 on Windows Phone 8
// IE10 on WP8 doesn't report CSS pixels, but actual device pixels. In
// other words, say on a Lumia, you'll get 768px as the device width,
// meaning users will see the tablet styles and not phone styles.
//
// Alternatively you can override this with JS (see source below), but
// we won't be doing that here given our limited scope.
//
// Source: http://timkadlec.com/2013/01/windows-phone-8-and-device-width/
@media screen and (max-width: 400px) {
  @-ms-viewport{
    width: 320px;
  }
}

// Hide from screenreaders and browsers
// Credit: HTML5 Boilerplate
.hidden {
  display: none !important;
  visibility: hidden !important;
}

// Visibility utilities


@include responsive-invisibility(".visible-phone");
@include responsive-invisibility(".visible-table");
@include responsive-invisibility(".visible-desktop");
@include responsive-invisibility(".visible-large");

@include responsive-visibility(".hidden-phone");
@include responsive-visibility(".hidden-table");
@include responsive-visibility(".hidden-desktop");
@include responsive-visibility(".hidden-large");

@media (max-width: $screen-phone-max) {
  @include responsive-visibility(".visible-phone");
  @include responsive-visibility(".visible-table.visible-phone");
  @include responsive-visibility(".visible-desktop.visible-phone");
  @include responsive-visibility(".visible-large.visible-phone");

  @include responsive-invisibility(".hidden-phone");
  @include responsive-invisibility(".hidden-table.hidden-phone");
  @include responsive-invisibility(".hidden-desktop.hidden-phone");
  @include responsive-invisibility(".hidden-large.hidden-phone");
}
@media (min-width: $screen-table) and (max-width: $screen-table-max) {
  @include responsive-visibility(".visible-phone.visible-table");
  @include responsive-visibility(".visible-table");
  @include responsive-visibility(".visible-desktop.visible-table");
  @include responsive-visibility(".visible-large.visible-table");

  @include responsive-invisibility(".hidden-phone.hidden-table");
  @include responsive-invisibility(".hidden-table");
  @include responsive-invisibility(".hidden-desktop.hidden-table");
  @include responsive-invisibility(".hidden-large.hidden-table");
}
@media (min-width: $screen-desktop) and (max-width: $screen-desktop-max) {
  @include responsive-visibility(".visible-phone.visible-desktop");
  @include responsive-visibility(".visible-table.visible-desktop");
  @include responsive-visibility(".visible-desktop");
  @include responsive-visibility(".visible-large.visible-desktop");

  @include responsive-invisibility(".hidden-phone.hidden-desktop");
  @include responsive-invisibility(".hidden-table.hidden-desktop");
  @include responsive-invisibility(".hidden-desktop");
  @include responsive-invisibility(".hidden-large.hidden-desktop");
}
@media (min-width: $screen-large-desktop) {
  @include responsive-visibility(".visible-phone.visible-large");
  @include responsive-visibility(".visible-table.visible-large");
  @include responsive-visibility(".visible-desktop.visible-large");
  @include responsive-visibility(".visible-large");

  @include responsive-invisibility(".hidden-phone.hidden-large");
  @include responsive-invisibility(".hidden-table.hidden-large");
  @include responsive-invisibility(".hidden-desktop.hidden-large");
  @include responsive-invisibility(".hidden-large");
}


// Print utilities
@include responsive-invisibility(".visible-print");

@media print {
  @include responsive-visibility(".visible-print");
  @include responsive-invisibility(".hidden-print");
}
