// --------------------------------------------
// BubalusFE - The front-end development framework
//
/* Pagination - 一套分頁样式 */
// --------------------------------------------


// -------------------------
// Pagination 變量
// -------------------------

$pagination-bg:                        #fff !default;
$pagination-border:                    #ddd !default;
$pagination-active-bg:                 #f5f5f5 !default;

// -------------------------
// Pagination 樣式
// -------------------------
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: $line-height-computed 0;
  border-radius: $border-radius-base;

  > li {
    display: inline; // Remove list-style and block-level defaults
    > a,
    > span {
      float: left; // Collapse white-space
      padding: 4px 12px;
      line-height: $line-height-base;
      text-decoration: none;
      background-color: $pagination-bg;
      border: 1px solid $pagination-border;
      border-left-width: 0;
    }
    &:first-child {
      > a,
      > span {
        border-left-width: 1px;
        @include border-left-radius($border-radius-base);
      }
    }
    &:last-child {
      > a,
      > span {
        @include border-right-radius($border-radius-base);
      }
    }
  }

  > li > a:hover,
  > li > a:focus,
  > .active > a,
  > .active > span {
    background-color: $pagination-active-bg;
  }
  > .active > a,
  > .active > span {
    color: $gray-light;
    cursor: default;
  }

  > .disabled {
    > span,
    > a,
    > a:hover,
    > a:focus {
      color: $gray-light;
      background-color: $pagination-bg;
      cursor: default;
    }
  }

}

// 尺碼
// --------------------------------------------------

// 大號
.pagination-large {
  > li {
    > a,
    > span {
      padding: $padding-large-vertical $padding-large-horizontal;
      font-size: $font-size-large;
    }
    &:first-child {
      > a,
      > span {
        @include border-left-radius($border-radius-large);
      }
    }
    &:last-child {
      > a,
      > span {
        @include border-right-radius($border-radius-large);
      }
    }
  }

}

// 小號
.pagination-small {
  > li {
    > a,
    > span {
      padding: $padding-small-vertical $padding-small-horizontal;
      font-size: $font-size-small;
    }
    &:first-child {
      > a,
      > span {
        @include border-left-radius($border-radius-small);
      }
    }
    &:last-child {
      > a,
      > span {
        @include border-right-radius($border-radius-small);
      }
    }
  }

}

//
// 翻頁形式
// --------------------------------------------------

.pager {
  padding-left: 0;
  margin: $line-height-computed 0;
  list-style: none;
  text-align: center;
  @include clear();
  li {
    display: inline;
    > a,
    > span {
      display: inline-block;
      padding: 5px 14px;
      background-color: $pagination-bg;
      border: 1px solid $pagination-border;
      border-radius: 15px;
    }

    > a:hover,
    > a:focus {
      text-decoration: none;
      background-color: $pagination-active-bg;
    }
  }

  .next {
    > a,
    > span {
      float: right;
    }
  }

  .previous {
    > a,
    > span {
      float: left;
    }
  }

  .disabled {
    > a,
    > a:hover,
    > a:focus,
    > span {
      color: $gray-light;
      background-color: $pagination-bg;
      cursor: default;
    }
  }

}


/* END Pagination */