// --------------------------------------------
// BubalusFE - The front-end development framework
//
/* CloseBtn - 變量 */
// --------------------------------------------

$close-color:                 #000 !default;
$close-font-weight:           bold !default;
$close-text-shadow:           0 1px 0 #fff !default;