// --------------------------------------------
// BubalusFE - The front-end development framework
//
/* Thumbnails - 變量 */
// --------------------------------------------

$thumbnail-padding:           4px !default;
$thumbnail-bg:                $body-bg !default;
$thumbnail-border:            #ddd !default;
$thumbnail-border-radius:     $border-radius-base !default;

$thumbnail-caption-color:     $text-color !default;
$thumbnail-caption-padding:   9px !default;