// --------------------------------------------
// BubalusFE - The front-end development framework
//
/* Thumbnails - 一套縮圖样式 */
// --------------------------------------------

// -------------------------
// 引入配置
// -------------------------
@import "variables";
@import "mixins";

// -------------------------
// Thumbnails 樣式
// -------------------------
// 縮略的元素
.thumbnail {
  @extend .img-thumbnail;
  display: block; // Override the inline-block from `.img-thumbnail`

  > img {
    @include img-responsive();
  }
}

// 爲鏈接設置鼠標懸浮樣式
a.thumbnail:hover,
a.thumbnail:focus {
  border-color: $link-color;
}

// 圖片和註解
.thumbnail > img {
  margin-left: auto;
  margin-right: auto;
}
.thumbnail .caption {
  padding: $thumbnail-caption-padding;
  color: $thumbnail-caption-color;
}

// Image thumbnails
//
// Heads up! This is mixin-ed into thumbnails.less for `.thumbnail`.
.img-thumbnail {
  padding: $thumbnail-padding;
  line-height: $line-height-base;
  background-color: $thumbnail-bg;
  border: 1px solid $thumbnail-border;
  border-radius: $thumbnail-border-radius;
  @include transition(all .2s ease-in-out);

  // Keep them at most 100% wide
  @include img-responsive(inline-block);
}

// -------------------------
// 引入主題樣式
// -------------------------

@import "theme";

/* END Thumbnail */