// --------------------------------------------
// BubalusFE - The front-end development framework
//
/* Thumbnails - 一套縮圖样式 */
// --------------------------------------------


// -------------------------
// Thumbnails 變量
// -------------------------
// -------------------------
$thumbnail-padding:           4px !default;
$thumbnail-bg:                $body-bg !default;
$thumbnail-border:            #ddd !default;
$thumbnail-border-radius:     $border-radius-base !default;

$thumbnail-caption-color:     $text-color !default;
$thumbnail-caption-padding:   9px !default;

// -------------------------
// Thumbnails 樣式
// -------------------------
// 縮略的元素
.thumbnail {
  @extend .img-thumbnail;
  display: block; // Override the inline-block from `.img-thumbnail`

  > img {
    @include img-responsive();
  }
}

// 爲鏈接設置鼠標懸浮樣式
a.thumbnail:hover,
a.thumbnail:focus {
  border-color: $link-color;
}

// 圖片和註解
.thumbnail > img {
  margin-left: auto;
  margin-right: auto;
}
.thumbnail .caption {
  padding: $thumbnail-caption-padding;
  color: $thumbnail-caption-color;
}
